* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


.App {
  background-color: rgba(33, 39, 106, 0.512);
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}


.col {
  max-width: 50vw;
  max-height: 50vh;
}

.container1 {
  border-radius: 1% 1%;
  margin: 5px;
  padding: 5px;
}

.container {
  border-radius: 1% 1%;
  background-color: rgb(0, 0, 112);
  margin: 10px;

}

.signin {
  padding: 5px;
  position: left;
}

.Card {
  margin-bottom: 10px;
  color: rgb(19, 0, 145);
  background-color: blue;
}

.Col {
  margin-bottom: 10px;
}

.Row {
  margin-bottom: 10px;
}

.Card.Img {
  max-width: 50px !important;
  max-height: 50px !important;
}



h4 {
  color: #555;
}




.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;
}

.btn {
  background-color: rgb(9, 0, 70);
  color: white;
  border: none;
  margin: 10px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.button {
  background-color: rgb(9, 0, 70);
  color: white;
  border: none;
  margin: 10px 0;
  padding: 5px 10px;
  cursor: pointer;
}


.btn:hover {
  opacity: 0.8;
  color: blue;
}

#label {
  font-size: 12px;
  text-align: left;
}

.bg-body-tertiary {
  background-color: black;
}

#text {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: skewY(10deg);
  margin-top: 0px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.red-bg {
  background-color: rgb(44, 0, 131) !important;
}

Link {
  margin: 10px;
}
.a {
  color: aliceblue;
}

img {
  border-radius: 10%;
}